.carta-temas{
    margin-top: 5%;
    margin-bottom: 5%;
}

.texto-elevado{
    opacity: 0;
    color: #ffeace;
}

.carta-temas:hover{
    transform: scale(1.05) translateZ(100px);
}

.carta-temas:hover .texto-elevado{
    animation: elevar-arriba 0.7s ease both;
}

@keyframes elevar-arriba {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {       
        transform: scale(1.05) translateY(-140px);
        background-color: #8f7159;
        opacity: 0.9;
    }
}

