.carta-temas{
    margin-top: 5%;
    margin-bottom: 5%;
    transition: transform 0.7s ease;
}

.texto-elevado{
    opacity: 0;
    color: #ffeace;
    transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.carta-temas:hover{
    transform: scale(1.05) translateZ(100px);
}

.carta-temas:hover .texto-elevado{
    opacity: 1;       
    background-color: #8f7159;
    transform: scale(1.01) translateY(-20px);
}

.img-temas{
    border: 4px solid grey;
    transition: border 0.7s ease-in-out;
}

.img-fluid{
    max-width: 100%;
    height: 100%;
}


.carta-temas:hover .img-temas{
    border: 4px solid #364f59;
}