.navbar{
    background-color: #ffeace;
}

.titulocabecera{
    color: #f59432;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.logoCabecera{
    width: 90px;
    height: 67px;
}

.imagenIconos{
    width: 30px;
    height: 30px;
}
