.fondocabecera{
    background-color: aliceblue;
}

.titulocabecera{
    color: orange;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.imagenLogo{
    width: 90px;
    height: 67px;
}

.imagenIconos{
    width: 30px;
    height: 30px;
}
