body {
    background-color: #f59432;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.navbar {
    background-color: #ffeace;
}

.card {
    background-color: #8f7159;
}

.card-header {
    background-color: #8f7159;
    color: white;
}

.card-custom {
    display: flex;
    flex-wrap: wrap;
}

.card-custom div {
    margin: 0.5%;
}

.btn-primary {
    background-color: #364f59;
    border: 1px solid #364f59;
    box-shadow: 0 0 0 0.2rem rgba(54, 79, 89, 0.5);
}

.bg-body-tertiary {
    color: black;
}

.rotacion {
    width: 30px;
    transition: transform 0.5s ease-in-out;
}

.rotacion-activada {
    transform: rotate(180deg);
}

.retoque-imagen{
    width: 160px;
    border-radius: 5px;
}

.small{
    font-size: 0.75em;
}

