.card-fondo {
    background-color: #364f59;
    border: 1px solid #364f59;
    color: white;
    box-shadow: 0 0 0 0.2rem rgba(54, 79, 89, 0.5);
    min-height: 95%;
    min-width: 100%;
    margin: 2%;
}

.bg-body-tertiary{
    color: black;
}

.retoque-imagen{
    width: 120px;
    border-radius: 10px;
}
